nav {
  width: 100%;
  height: 6vh;
  background-color: #9ebfb5;
  padding: 10px 0;
}

nav p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

header {
  width: 100%;
  height: 14vh;
  border-bottom: 1px solid #ececec;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

header img {
  width: 80%;
  height: 80%;
}

header ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

header .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right span {
  font-weight: 700;
}

header .right i {
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 16px;
}

header .right div {
  display: inline-block;
  padding: 0 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9ebfb5;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  margin-left: 5px;
}

.products {
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.products .box {
  width: 100%;
  height: 100%;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.products .box .img-box {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.products .box .img-box:hover .second {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .box .img-box:hover .bottom {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products .box .img-box img {
  width: 100%;
  height: 245px;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.products .box .img-box .second {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.products .box .img-box .bottom {
  position: absolute;
  background-color: #9ebfb5;
  opacity: .8;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
}

.products .box .img-box .bottom:hover .in {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.products .box .img-box .bottom:hover p {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.products .box .img-box .bottom .in {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.products .box .img-box .bottom p {
  font-size: 15px;
  color: #fff;
  margin: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-weight: 700;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.products .box .box-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.products .box .box-text h5 {
  color: #9ebfb5;
  font-weight: 700;
  font-size: 15px;
}

.products .box .box-text h6 {
  letter-spacing: 1px;
}

.sidemenu {
  width: 370px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 2345;
  top: 0;
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sidemenu .all {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidemenu .head {
  height: auto;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 14px;
}

.sidemenu .head p {
  font-weight: 700;
  margin: 0;
}

.sidemenu .head i {
  font-size: 19px;
  cursor: pointer;
}

.sidemenu .text {
  width: 100%;
  position: absolute;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  bottom: 0;
  left: 0;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 14px;
}

.sidemenu .text p {
  font-weight: 700;
  margin: 0;
}

.sidemenu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 45;
}

.overlay img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.overlay.activ {
  opacity: 1;
  visibility: visible;
}

.products2 {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.products2 .product {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.105);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  padding: 9px 15px;
}

.products2 .product:hover {
  background-color: #f7f7f7;
}

.products2 .product img {
  width: 100px;
}

.products2 .product .i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.products2 .product .middle {
  padding-left: 20px;
}

.products2 .product .middle span {
  padding: 7px 12px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #acc7bf;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.products2 .product .middle span:hover {
  background-color: #9ebfb5;
  color: #fff;
}

.products2 .product .middle p {
  font-weight: 700;
}

.products2 .product .middle h5 {
  margin-top: 20px;
  font-weight: 700;
}

.products2 .product .middle h5 p {
  font-weight: 700;
  color: #9ebfb5;
  display: inline;
}

.products2 .product .close {
  width: 20px;
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 50%;
}

.products2 .product .close:hover {
  background-color: #a5a5a5;
}

i {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */