nav {
  width: 100%;
  height: 8vh;
  background-color: #F195B2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .left p {
  font-weight: 700;
  margin: 0;
}

nav .left p i {
  margin-right: 3px;
}

nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right i {
  margin: 0 10px;
  font-size: 1.1rem;
}

nav .line {
  color: #fff;
  background-color: #fff;
  width: 1px;
  height: 22px;
  margin: 0 10px;
}

header {
  width: 100%;
  height: 13vh;
  position: relative;
}

header .left-links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #454545;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

header .left-links p {
  margin: 0;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

header .left-links p::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 0;
  height: 2px;
  background-color: #F195B2;
  bottom: -3px;
  left: 0;
}

header .left-links p:hover::after {
  width: 45px;
}

header .left-links a {
  text-decoration: none;
  color: #454545;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

header .left-links a::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 0;
  height: 2px;
  background-color: #F195B2;
  bottom: -3px;
  left: 0;
}

header .left-links a:hover::after {
  width: 45px;
}

header .right-links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #454545;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

header .right-links p {
  font-size: 1.2rem;
  margin: 0;
  position: relative;
  cursor: pointer;
}

header .right-links p::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 0;
  height: 2px;
  background-color: #F195B2;
  bottom: -3px;
  left: 0;
  cursor: pointer;
}

header .right-links p:hover::after {
  width: 40px;
}

header .imgg {
  width: 190px;
  height: 130px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  z-index: 345;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

header .imgg img {
  background-color: #fff;
}

footer {
  width: 100%;
  height: 76vh;
  padding: 50px 0 0 0;
  background-color: #303339;
}

footer h4 {
  color: #a8a8a8;
  margin: 1.3rem 0;
  font-size: 1rem;
  line-height: 1.7;
}

footer i {
  color: #fff;
  width: 2.5rem;
  line-height: 2.2 !important;
  text-align: center;
  font-size: 1.1rem;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  height: 2.5rem;
  margin-right: 1rem;
}

footer h3 {
  color: #fff;
  margin-bottom: 1.4rem;
}

footer p {
  color: #a8a8a8;
}

footer h6 {
  color: #a8a8a8;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

footer .bor {
  border-top: 1px solid #3b3e43;
}

.banner {
  background-image: url("../img/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h1 {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
}

.about {
  width: 100%;
  height: 120vh;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about h1 {
  color: #3E606B;
  font-weight: 700;
  text-align: center;
}

.about h3 {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.2rem 0;
}

.about p {
  color: #A8B4A8;
  margin: 1rem 0;
}

.map {
  width: 100%;
  height: 50vh;
}

.map iframe {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.connect {
  width: 100%;
  height: 18vh;
  background-color: #F195B2;
}

.connect h4 {
  color: #fff;
}

.connect input {
  padding: 9px 55px 9px 15px;
  outline: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.connect button {
  padding: 9px 30px;
  color: #454545;
  outline: none;
  border: none;
  background-color: #E6DBDF;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.hero {
  width: 100%;
  height: 70vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .swiper-button-prev, .hero .swiper-button-next {
  color: #fff;
}

.hero .swiper-button-prev:after, .hero .swiper-button-next:after {
  font-size: 1.8rem;
}

.hero .text {
  width: 55%;
  height: 60%;
  position: absolute;
  left: 50px;
  top: 60px;
  color: #fff;
}

.hero .text h1 {
  font-weight: 700;
  font-size: 3.3rem;
  font-style: italic;
}

.hero .text p {
  font-size: 1.3rem;
}

.hero .text a {
  background: #fff;
  font-size: 18px;
  color: #3e606b;
  display: inline-block;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 0px 43px;
  line-height: 52px;
  border-radius: 26px;
  -webkit-transition: all 300ms linear !important;
  transition: all 300ms linear !important;
  text-decoration: none;
}

.hero .text a:hover {
  background-color: #F195B2;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */