
nav{
    width: 100%;
    height: 8vh;
    background-color: #F195B2;
    color: #fff;
    display: flex;
    .left{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p{
            font-weight: 700;
            margin: 0;
            i{
                margin-right: 3px;
            }
        }
    }
    .right{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        i{
            margin: 0 10px;
            font-size: 1.1rem;
        }
    }
    .line{
        color: #fff;
        background-color: #fff;
        width: 1px;
        height: 22px;
        margin: 0 10px;
    }
}

header{
    width: 100%;
    height: 13vh;
    position: relative;
    .left-links{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        color: #454545;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        p{
            margin: 0;
            font-size: 1.2rem;
            position: relative;
            cursor: pointer;
            &::after{
                position: absolute;
                content: '';
                transition: all .5s ease;
                width: 0;
                height: 2px;
                background-color: #F195B2;
                bottom:-3px;
                left: 0;
            }
            &:hover{
                &::after{
                    width: 45px;
                    
                }
            }
        }
        a{
            text-decoration: none;
            color: #454545;
            font-size: 1.2rem;
            position: relative;
            cursor: pointer;
            &::after{
                position: absolute;
                content: '';
                transition: all .5s ease;
                width: 0;
                height: 2px;
                background-color: #F195B2;
                bottom:-3px;
                left: 0;
            }
            &:hover{
                &::after{
                    width: 45px;
                    
                }
            }
        }
    }
    .right-links{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        color: #454545;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        p{
            font-size: 1.2rem;
            margin: 0;
            position: relative;
            cursor: pointer;
            &::after{
                position: absolute;
                content: '';
                transition: all .5s ease;
                width: 0;
                height: 2px;
                background-color: #F195B2;
                bottom:-3px;
                left: 0;
                cursor: pointer;
            }
            &:hover{
                &::after{
                    width: 40px;
                    
                }
            }
        }
    }
    .imgg{
        width: 190px;
        height: 130px;
        background-color: #fff;
        position: absolute;
        top: 10px;
        z-index: 345;
        // border-bottom-right-radius:50% ;
        // border-bottom-left-radius:50% ;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      
        img{
        background-color: #fff;
        
    }
    }
    
}


footer{
    width: 100%;
    height: 76vh;
    padding: 50px 0 0 0;
    background-color: #303339;
    h4{
        color: #a8a8a8;
        margin: 1.3rem 0;
        font-size: 1rem;
        line-height: 1.7;
    }
    i{
        color: #fff;
        width: 2.5rem;
        line-height: 2.2 !important;
        text-align: center;
        font-size: 1.1rem;
        border: 1px solid #a8a8a8;
        border-radius: 50%;
        height: 2.5rem;
        margin-right: 1rem;
    }
    h3{
        color: #fff;
        margin-bottom: 1.4rem;
    }
    p{
        color: #a8a8a8;
    }
    h6{
        color: #a8a8a8;
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }
    .bor{
        border-top: 1px solid #3b3e43;
    }
}

.banner{
    background-image: url("../img/banner-bg.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: #fff;
        font-weight: 700;
        font-size: 3rem;
    }
}

.about{
    width: 100%;
    height: 120vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        color: #3E606B;
        font-weight: 700;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 1.6rem;
        margin: 1.2rem 0;
        
    }
    p{
        color: #A8B4A8;
        margin: 1rem 0;
    }
}

.map{
    width: 100%;
    height: 50vh;
   
    iframe{
        width: 100%;
        height: 100%;
        filter: grayscale(60%);
    }
}

.connect{
    width:100%;
    height:18vh;
    background-color: #F195B2;
    h4{
        color: #fff;
    }
    input{
         padding:9px 55px 9px 15px;
         outline: none;
         border: none;
         border-bottom-left-radius: 4px;
         border-top-left-radius: 4px;
    }
    button{
        padding:9px 30px;
        color: #454545;
        outline: none;
        border: none;
        background-color: #E6DBDF;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
}


.hero{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .swiper-button-prev, .swiper-button-next{
        color: #fff;
    }
    .swiper-button-prev:after,  .swiper-button-next:after{
        font-size: 1.8rem;
    }
    .text{
        width: 55%;
        height: 60%;
        position: absolute;
        left: 50px;
        top: 60px;
        color: #fff;
        h1{
            font-weight: 700;
            font-size: 3.3rem;
            font-style: italic;
        }
        p{
            font-size: 1.3rem;
        }
        a{
            background: #fff;
            font-size: 18px;
            color: #3e606b;
            display: inline-block;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            padding: 0px 43px;
            line-height: 52px;
            border-radius: 26px;
            transition: all 300ms linear !important;
            text-decoration: none;
            &:hover{
                background-color: #F195B2;
                color: #fff;
            }
        }
    }
}