body{
    font-family: Inter, sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    background-color: #4F2916;
    .borderr{
        border-left: 3px dashed #fff;
        border-right:3px dashed #fff ;
    }
    p{
        color: #fff;
        font-size: .9rem;
        margin: 0;
        i{
            margin-right: .3rem;
        }
    }
    h5,h6{
        color: #fff;
        font-size: .8rem;
        margin: 0 1rem;
        font-weight: 200;
        i{
            margin-left: .4rem;
        }
    }
}

nav{
    width: 100%;
    height: 10vh;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        li{
            list-style-type: none;
            &:nth-child(1){
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                padding: 5px 13px;
            }
            a{
                text-decoration: none;
                color: #000;
                transition: all .3s ease;
                &:hover{
                    opacity: .8;
                    color: #000;
                }
            }
        }
    }
    button{
        margin: 0 1rem;
        outline: none;
        border: 1px solid #eaeaea;
        padding: 6px 22px;
    }
}

.slider{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .left{
        position: absolute;
        font-size: 2.5rem;
        top: 50%;
        left: 2%;
        cursor: pointer;
    }
    .right{
        position: absolute;
        font-size: 2.5rem;
        top: 50%;
        right: 2%;
        cursor: pointer;
    }
    .text{
        width: 600px;
        height: 500px;
        position: absolute;
        left:80px;
        top: 140px;
        h1{
            letter-spacing: 3px;
            font-size: 6.2rem;
            font-weight: 700;
        }
    }
}


.cards{
    width: 100%;
    height: 120vh;
    padding: 30px 0;
    h1{
        letter-spacing: 4px ;
        font-family: Inter, sans-serif;
    }
    button{
        outline: none;
        border: none;
        letter-spacing: 2px;
        margin: 5px;
        background-color: transparent;
    }
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        overflow: hidden;
        cursor: pointer;
        
        .img{
            background-color: #FDF8DF;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            overflow: hidden;
            position: relative;
            .img-2{
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                transform: translateY(-100%);
                transition: all .5s ease;
                opacity: 0;
                z-index: 324;
                background-color: #FDF8DF;                
                img{
                    width:100%;
                    height: 100%;
                    filter: drop-shadow(-15px 20px 10px #9AA385);
                }
            }
           img{
            width:100%;
            height: 100%;
            filter: drop-shadow(-15px 20px 10px #9AA385);
        }
        .icons{
            width: 50%;
            height: 10%;
           position: absolute;
           bottom: 15px;
           left: 25%;
           background-color: #23A21D;
           transition: all .2s ease;
           transform: translateY(60px);
           z-index: 345;
           display: flex;
           flex-direction: row;
           align-items: center;
           i{
               height: 100%;
               width: 25%;
               line-height: 210%;
               text-align: center;
               font-size: 1.1rem;
               color: #fff;
               transition: all .3s ease;
               &:hover{
                   background-color: #000;
               }
           }
        }
        
    }
        p{
            font-weight: 700;
            letter-spacing: 3px;
            font-size: 1.3rem;
            margin-top: 1rem;
            font-family: Inter, sans-serif;
        }
        h6{
            font-size: 1rem;
            font-family: Inter, sans-serif;
            letter-spacing: 2px;
        }
        &:hover {
            .img-2{
         transform: translateY(0);
         opacity: 1;
      }
      .icons{
          transform: translateY(0);
      }
        }
    }
}

.coffees{
    width: 100%;
    height: 65vh;
    .left{
        width: 100%;
        height: 78%;
        position: relative;
      
    }
    .right{
        width: 100%;
        height: 78%;
        position: relative;
    }
    .poster{
        height: 65%;
        background-color: #F1F1F1;
        position: absolute;
        top: 20%;
        width: 75%;
        right: 0;
        padding: 12px 0 0 25px ;
        p{
         font-size: 1.8rem;
         letter-spacing: 7px;
         font-weight: 200;
        }
        h5{
         letter-spacing: 7px;
         font-weight: 200;
         font-size: 2.2rem;
         margin-bottom: 10px;
        }
        button{
            margin-top: 10px;
            padding: 12px 27px;
            outline: none;
            border: 1px solid black;
            letter-spacing: 7px;
            font-size: .9rem;
        }

    }
    img{
        width: 100%;
        height: 100%;
    }
}

footer{
    width: 100%;
    height: 40vh;
    padding: 40px 0;
    .icon{
    color: #23A21D;
    font-size: 21px;
    background: transparent;
    text-align: center;
    line-height: 45px !important; 
    background: #F8F5F0;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 1rem;
    }
    p{
        letter-spacing: 1px;
        line-height: 1.6;
        margin: 1rem 0;
    }
    h1{
        color: #23A21D;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 1.3rem;
        letter-spacing: 3px;
    }
    h5{
        background-color: #F8F5F0;
        margin-bottom: 5px;
        padding: 15px 10px;
        border-radius: 5px;
        font-size: .9rem;
        font-weight: 400;
        letter-spacing: 1px;
        i{
            font-size: .8rem;
            margin-right: 6px;
        }
    }
    h4{
        font-size: 1rem;
        font-weight: 400;
        margin: 1.6rem 0;
        i{
            margin-right: 15px;
        }
    }
}

.active{
    background-color: #23A21D;
    color: #000;
    outline: none;
        border: none;
        letter-spacing: 2px;
        margin: 5px;
        background-color: transparent;
}


.navclass{
    background-color: #fff;
}
.link{
    color: #000;
}

.darkclass{
    background-color: #000;
}

.darklink{
    color: #fff;
}